<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrapcss/bootstrap.css">
    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
     <!-- Bootstrap JS -->
     <script src="/js/bootstrapjs/bootstrap.js"></script>
     <!-- Jquery -->
     <script src="/js/jQuery/jquery-3.6.0.min.js"></script>
    <!-- My CSS -->
    <link rel="stylesheet" href="/css/Main.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <title>本挿入-エロン-本屋</title>
    
</head>

<body>
    <div class="container-sm">
        <!--　↓ navbar-start -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{#}"><img width="15%" src="/images/elon.png" alt="">エロン-本屋</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- Book -->
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" th:href="@{/books}">本リスト</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/books/add}">本挿入</a>
                        </li>
                        <hr>
                        <!-- Employee -->
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users}">従業員リスト</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users/add}">従業員挿入</a>
                        </li>
                        <hr>
                        <li class="nav-item">
                        <a class="nav-link text-info" th:href="@{/users/details}">userId</a>
                            <a th:href="@{/}"><button class="btn btn-warning bi bi-box-arrow-right data-bs-toggle="tooltip" data-bs-placement="top" title="ログアウト""></button></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--　↑ navbar-end -->
        <h1>本挿入</h1>
        <!--　↓ Form-Start -->
        <form class="row g-3 mt-5" action="#" th:action="@{/books/addAction}" th:object="${book}" method="post">
            <div class="col-md-12">
                <label for="bookISBN" class="form-label">ISBN</label>
                <input type="text" th:field="*{isbn}" class="form-control" id="bookISBN">
            </div>
            <div class="col-md-6">
                <label for="bookTitle" class="form-label">タイトル</label>
                <input type="text" th:field="*{title}"  class="form-control" id="bookTitle">
            </div>
            <div class="col-md-6">
                <label for="bookTitleKana" class="form-label">タイトル仮名</label>
                <input type="text" th:field="*{titleKana}" class="form-control" id="bookTitleKana">
            </div>
            <div class="col-md-6">
                <label for="bookPrice" class="form-label">値段「円」</label>
                <input type="number"th:field="*{price}" class="form-control" id="bookPrice">
            </div>
            <div class="col-md-2">
                <label for="bookDiscount" class="form-label">割引「 ％ 」</label>
                <input type="number" th:field="*{discount}" step="5" min="0" value="0" class="form-control" id="bookDiscount">
            </div>
            <div class="col-md-12">
                <label for="bookPublisher" class="form-label">出版社</label>
                <input type="text" th:field="*{publisher}" class="form-control" id="bookPublisher">
            </div>
            <div class="col-md-6">
                <label for="bookAuthor" class="form-label">著者</label>
                <input type="text" th:field="*{author}" class="form-control" id="bookAuthor">
            </div>
            <div class="col-md-6">
                <label for="bookAuthorKana" class="form-label">著者仮名</label>
                <input type="text" th:field="*{authorKana}" class="form-control" id="bookAuthorKana">
            </div>
            <div class="col-md-12">
                <label for="bookGenre" class="form-label">ジャンル</label>
                <input type="text" th:field="*{genre}" class="form-control" id="bookGenre">
            </div>
            <input type="hidden" th:field="*{crDate}" value="">
            <input type="hidden" th:field="*{upDate}" value="">

            <div class="col-12">
                <button type="submit" class="btn btn-primary">登録</button>
            </div>
        </form>

        <!--　↑ Form-End -->





        <!-- Footer -->
        <div class="position-relative mt-5">
            <div class="position-absolute top-100 start-50 translate-middle">
                <p> Created with <i class="text-danger bi-heart-fill"></i> by Hendri Simarmata</p>
            </div>
        </div>
    </div>



    <!-- My JS -->
    <script src="/js/Main.js"></script>
    	<script type="text/javascript">
   
    var hid1 = $('#crDate');
	var hid2 = $('#upDate');
	hid1.val(getCurrentDate);
	hid2.val(getCurrentDate); 
    </script>
</body>

</html>