<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrapcss/bootstrap.css">
    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
     <!-- Bootstrap JS -->
     <script src="./js/bootstrapjs/bootstrap.js"></script>
     <!-- Jquery -->
     <script src="./js/jQuery/jquery-3.6.0.min.js"></script>
    <!-- My CSS -->
    <link rel="stylesheet" href="./css/Main.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
    <link rel="manifest" href="./images/favicon/site.webmanifest">
    <title>レジ-本リスト-エロン-本屋</title>
</head>

<body>
    <div class="container-sm mt-5">


        <marquee>
            <span id="marqueeText"></span>
        </marquee>
        <!--　↓ Button-start -->
        <div class="d-grid gap-3 mt-3">
            <button class="btn btn-success btn-lg" type="button">
                <a class="link-light" href="/buy"><i class="bi bi-bag-fill me-3"></i> Buy</a>
            </button>
            <button class="btn btn-success btn-lg" type="button">
                <a class="link-light" href="/cashierbooklist"><i class="bi bi-card-list me-3"></i> Book List</a>
                
            </button>
            <button class="btn btn-success btn-lg" type="button">
                <a class="link-light" href="/cashierbuyhistory"><i class="bi bi-clock-history me-3"></i> Buy History</a>
            </button>
            <button class="btn btn-success btn-lg" type="button">
                <a class="link-light" href="/accountdetails"><i class="bi bi-person-circle me-3"></i>Account Detail</a>
            </button>
            <button class="btn btn-danger btn-lg" type="button">
                <a class="link-light" href="/"><i class="bi bi-box-arrow-left me-3"></i> Logout</a>
            </button>
          </div>
                    

        <!--　↑ Button-end -->




        <!-- Footer -->
        <div class="position-relative mt-5">
            <div class="position-absolute top-100 start-50 translate-middle">
                <p> Created with <i class="text-danger bi-heart-fill"></i> by Hendri Simarmata</p>
            </div>
        </div>
    </div>


    
    <!-- My JS -->
    <script src="./js/Main.js"></script>
</body>

</html>